/* ==================================================
	Variables
   ================================================== */

/* Navbar, Footer */
$bg-color: 		black;
$font-color: 	white;

/* Font */
$default-size:	 16px;
$default-height: 1.5;

/* Color */
$primary-color: 	  #64B5F6;
$red: 				  #F91627;
$orange: 			  #FFA000;
$blue: 				  #6D90E7;
$green: 			  #3ED63E;
$title-color:   	  #F06292;
$title-color-with-bg: #0D47A1;
$content-color: 	  #424242;