<footer class="page-footer">
	<h1 class="sr-only">世界衛生工程 中原大學分會 聯絡資訊</h1>
	<div class="contact-info">
		<div class="container">
			<div class="col-sm-7">
				<ul class="h4">
					<li><i class="fa fa-phone"></i><span>連絡電話：</span>03-2659999</li>
					<li><i class="fa fa-envelope-o"></i><span>聯絡信箱：</span>ewhatcycu@gmail.com</li>
					<li><i class="fa fa-map-marker"></i><span>分會設址：</span>32023 桃園市中壢區新中北路200號</li>
				</ul>
				<div class="share-icon h1">
					<a href="https://www.facebook.com/EWHatCYCU"><i class="fa fa-facebook-official"></i></a>
					<a href="https://github.com/EWHatCYCU/EWH_Website_Rails"><i class="fa fa-github"></i></a>
				</div>
			</div>
			<div class="col-sm-5 text-center">
				<div class="fb-embed">
					<div id="fb-root"></div>
					<div class="fb-page"
						 data-href="https://www.facebook.com/EWHatCYCU"
						 data-width="280"
						 data-height="250"
						 data-small-header="false"
						 data-adapt-container-width="true"
						 data-hide-cover="false"
						 data-show-facepile="false"
						 data-show-posts="false">
						<div class="fb-xfbml-parse-ignore">
							<blockquote cite="https://www.facebook.com/EWHatCYCU"><a href="https://www.facebook.com/EWHatCYCU">Engineering World Health at CYCU</a></blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p class="h5">Copyright © Engineering World Health at 2015. All Rights Reserved</p>
		</div>
	</div>
</footer>