<footer class="page-footer">
	<div class="contact-info">
		<div class="container">
			<div class="col-sm-7">
				<div class="logo"><%= image_tag 'EWH_Logo.png' %></div>
				<h1 class="h3  footer-title">
					<strong>世界衛生工程</strong> 
					<span class="text-muted  sub-title  hidden-sm">中原大學分會</span>
				</h1>
				<ul class="h4">
					<li><i class="fa  fa-envelope-o"></i><span class="hidden-sm">聯絡信箱：</span>info@ewhcycu.com</li>
					<li><i class="fa  fa-phone"></i><span class="hidden-sm">連絡電話：</span>03-4659999</li>
					<li><i class="fa  fa-map-marker"></i><span class="hidden-sm">分會設址：</span>32023 桃園市中壢區新中北路200號</li>
				</ul>
				<div class="share-icon  h1">
					<a href="https://www.facebook.com/EWHatCYCU"><i class="fa  fa-facebook-official"></i></a>
					<a href="https://github.com/EWHatCYCU/EWH_Website_Rails"><i class="fa  fa-github"></i></a>
				</div>
			</div>
			<div class="col-sm-5  text-center">
				<div class="fb-embed">
					<div id="fb-root"></div>
					<div class="fb-page"  
						 data-href="https://www.facebook.com/EWHatCYCU"  
						 data-width="280"  
						 data-height="250"  
						 data-small-header="false"  
						 data-adapt-container-width="true"  
						 data-hide-cover="false"  
						 data-show-facepile="true"  
						 data-show-posts="true">
						<div class="fb-xfbml-parse-ignore">
							<blockquote cite="https://www.facebook.com/EWHatCYCU"><a href="https://www.facebook.com/EWHatCYCU">Engineering World Health at CYCU</a></blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<p class="h4">Copyright © Engineering World Health at 2015. All Rights Reserved</p>
		</div>
	</div>
</footer>