<header>
	<div class="container">
		<h1 class="header-title">
			<a href="/">
				<div class="logo"><%= image_tag 'EWH_Logo.png' %></div>
				<div>
					<strong>世界衛生工程</strong> 
					<span class="text-muted">中原大學分會</span>
					<p class="text-muted hidden-xs h4">Engineering World Health at CYCU</p>
				</div>
			</a>
		</h1>
	</div>
</header>