// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-origin,
.about {
    p {
        text-indent: 2rem;
        color: $content-color;
    }
    blockquote p {
        text-indent: 0;
    }
}
