// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-origin,
.about {
    p {
        text-indent: 2rem;
        color: $content-color;
    }
    blockquote p {
        text-indent: 0;
    }
}


.box {
	display: block;
	width: 100%;
	max-width: 240px;
	height: 140px;
	padding: 1rem;
	margin: 0 auto;
	border-radius: 4px;
	background-color: #ddd;
	text-align: center;
    font-size: 2rem;
}

.sub-level {
	@include column-count(2);
    margin-top: 10px;
	.member {
		@include column-count(4);
        margin-top: 10px;
		@include breakpoint(phablet) {
			@include column-count(1);
			padding-left: 20px;
			.box {
				position: relative;
				max-width: 220px;
                margin-top: 10px;
				&::before {
					position: absolute;
					content: '';
					display: block;
					border-style: solid;
					border-color: transparent transparent $red $red;
					border-width: 5px;
					width: 100%;
					height: 110%;
					top: -60%;
					left: -10px;
					z-index: -1;
				}
			}
		}
	}
}

.leader .box{
	background-color: lighten($primary-color, 10);
    color: darken($primary-color, 30);
}
.diplomatic .box {
	background-color: lighten($orange, 10);
    color: darken($orange, 30);
}
.internal-affairs .box {
	background-color: lighten($green, 10);
    color: darken($green, 30);
}

.staff {
    .bg {
        position: relative;
        margin: 10px auto;
        border-style: solid;
        border-color: $primary-color;
        border-width: 0;
        overflow: hidden;
        border-width: 5px 0;
        border-radius: 4px;
        height: 360px;
        width: 280px;
        &::before {
            content: '';
            position: absolute;
            background-image: image-url('http://www.transparenttextures.com/patterns/ice-age.png');
            background-color: #fff;
            width: 100%;
            height: 100%;
            z-index: -1;
            top: 0;
            left: 0;
        }
    }
    .content {
        text-align: center;
        .img {
            position: relative;
            overflow: hidden;
            display: block;
            border: 5px solid $primary-color;
            border-radius: 50%;
            background-color: rgba(#fff, 0.75);
            margin: 25px auto;
            padding-top: 75%;
            width: 80%;
            height: 0;
            img {
                position: absolute;
                width: 120%;
                left: -10%;
                top: -40%;
            }
        }
        h2::after {
            content: '';
            position: relative;
            display: block;
            height: 1px;
            width: 25%;
            top: 5px;
            background-color: #000;
            left: 50%;
            transform: translateX(-50%);
        }
        h3 {
            color: $content-color;
        }
    }
}
