// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Categories */
.category-item {
    display: inline-block;
    &:not(:last-child) {
        margin-right: 10px;
    }
    a {
        padding: 10px 20px;
        border: 1px solid #ddd;
        background-color: #fff;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            border-right: 15px solid transparent;
			border-left: 15px solid transparent;
			border-top: 10px solid $primary-color;
            left: 50%;
            @include translateX(-50%);
            z-index: -1;
        }
        &:hover,
        &.active {
            @include transition(all 0.5s);
            color: #fff;
            background-color: $primary-color;
            border-color: $primary-color;
            &::after {
                margin-top: 5px;
                @include transition(all 0.5s);
            }
        }
    }
}

/* Activities */
.activity-item {
    margin-bottom: 40px;
    &:hover {
        .title,
        .info {
            color: $title-color-with-bg;
        }
        .content {
            background-color: $primary-color;
            color: #fff;
        }
        .btn {
            color: #000;
            background-color: #fff;
        }
    }
    .title {
        color: $primary-color;
        font-weight: bold;
        @include transition(all, 0.5s);
        @include text-clamp(24px, 1, 1);
    }
    .info {
        color: $primary-color;
        text-align: center;
        display: block;
        @include transition(all, 0.5s);
        i::before {
            margin: 0 5px;
        }
        // 三種狀態
        &.expired::before {
            content: '已結束';
            border-radius: 4px;
            background-color: lighten($red, 40);
            color: $red;
        }
        &.underway::before {
            content: '進行中';
            border-radius: 4px;
            background-color: lighten($green, 40);
            color: $green;
        }
        &.upcoming::before {
            content: '即將開始';
            border-radius: 4px;
            background-color: lighten($orange, 40);
            color: $orange;
        }
    }
    .img {
    	position: relative;
    	width: 100%;
    	height: 0;
    	padding-top: 70%;
    	overflow: hidden;
    	img {
    		position: absolute;
    		width: 130%;
    		left: -15%;
    		top: 0;
    	}
    }
    .content {
        border: 1px solid #ddd;
        border-top: 0;
        padding: 2rem;
        color: $content-color;
        @include transition(all, 0.5s);
    }
    .btn {
        background-color: $primary-color;
        color: #fff;
        margin-top: 3rem;
        @include transition(all, 0.5s);
        &:hover {
            color: darken($primary-color, 20);
            border-color: darken($primary-color, 30);
            font-weight: bold;
        }
    }
}

/* Activity page */
.activity-header {
    h1 {
        font-weight: bold;
        margin-bottom: 20px;
    }
    .status {
        position: relative;
        &.expired,
        &.underway,
        &.upcoming {
            &::before {
                content: '';
                position: absolute;
                display: block;
                border-right: 20px solid transparent;
    			border-left: 20px solid transparent;
    			border-bottom: 15px solid lighten($red, 40);
                margin-top: -15px;
                right: 50%;
                @include translateX(50%);
            }
            &::after {
                content: '活動已結束';
                padding: 10px 20px;
                border-radius: 4px;
                background-color: lighten($red, 40);
                color: $red;
            }
        }
        &.upcoming {
            &::before {
                border-bottom: 15px solid lighten($orange, 40);
            }
            &::after {
                content: '活動即將開始';
                background-color: lighten($orange, 40);
                color: $orange;
            }
        }
        &.underway {
            &::before {
                border-bottom: 15px solid lighten($green, 40);
            }
            &::after {
                content: '活動進行中';
                background-color: lighten($green, 40);
                color: $green;
            }
        }
    }
    .category {
		position: relative;
        color: $content-color;
		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			@include transform(translateX(50%) rotate(45deg));
			right: 50%;
			top: 130%;
			z-index: -1;
			border-top: 3px solid $primary-color;
			width: 5rem;
		}
		&::after {
			@include transform(translateX(50%) rotate(-45deg));
		}
    }
    .info {
        margin: 20px 0;
    }
    .info-item {
        position: relative;
        border-right: 2px solid $primary-color;
    	min-height: 8rem;
        span {
            color: $content-color;
            font-weight: bold;
        }
    	i {
    		position: absolute;
    		font-size: 8rem;
    		right: 50%;
    		color: rgba($primary-color, 0.12);
    		z-index: -1;
    		@include translateX(50%);
            @include breakpoint(tablet) {
                font-size: 8rem;
            }
            @include breakpoint(mobileonly) {
                font-size: 6rem;
            }
    	}
    	&:last-child {
    		border-right: none;
    	}
        @include breakpoint(tablet) {
            border: none;
            margin-bottom: 10px;
        }
    }
}

.activity-bg {
    @include background-image(linear-gradient(rgba($primary-color, 0.78),
                                              rgba($primary-color, 0.54),
                                              rgba(1, 1, 1, 0.78),
											  rgba(1, 1, 1, 0.54),
											  rgba(1, 1, 1, 0.38)), image-url('http://ewhcycu.org/images/activities/camps/butterflyeffect/info.jpg'));
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20vh 0;
    .slogan {
        color: #fff;
        &::before {
            content: '\201F';
            vertical-align: middle;
            font-size: 10rem;
        }
        @include breakpoint(mobileonly) {
            font-size: 24px;
            &::before {
                font-size: 8rem;
            }
        }
    }
}
.activity-content {
    background-color: $primary-color;
    color: #fff;
    h1 {
        color: $title-color-with-bg;
    }
    .box {
        padding: 0 2rem;
        min-height: 18rem;
        border: 1px solid #fff;
    }
}
