/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require shared/bootstrap-base
 *= require shared/font-awesome-base
 *= require OwlCarousel/owl.carousel
 *= require OwlCarousel/owl.theme
 *= require_tree .
 *= require_self
 */

/* ==================================================
	Variables
   ================================================== */

/* Navbar, Footer */
$bg-color: 		black;
$font-color: 	white;

/* Font */
$default-size:	 16px;
$default-height: 1.5;

/* Color */
$primary-color: 	  #64B5F6;
$red: 				  #F91627;
$orange: 			  #FFA000;
$blue: 				  #6D90E7;
$green: 			  #3ED63E;
$title-color:   	  #F06292;
$title-color-with-bg: #0D47A1;
$content-color: 	  #424242;


/* ==================================================
	Mixins
   ================================================== */

/* Breakpoint mixin (Desktop first) */
@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 1200px) { @content ; }
	}
	@else if $point == laptop {
		@media (max-width: 1199px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 991px) { @content ; }
	}
	@else if $point == phablet {
		@media (max-width: 767px)  { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 567px)  { @content ; }
	}
}

/* Word-break */
@mixin wordbreak($option) {
	@if $option == never {
		white-space: nowrap;
	}
	@else if $option == break {
		word-break: break-all;
		word-break: break-word;
		word-wrap: break-word;
	}
}

/* 多行文字隱藏 */
@mixin text-clamp($font-size: 14px, $lines: 3, $line-height: 1.5) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
 	   -moz-box-orient: vertical;
 		-ms-box-orient: vertical;
	height: $font-size * $lines * $line-height;
}






/* ==================================================
	Reset & Basic settings
   ================================================== */

* {
	padding: 0;
	margin: 0;
}

ul,
ol {
	list-style: none;
}

a {
	&:link,
	&:hover,
	&:active,
	&:visited {
		text-decoration: none;
		color: inherit;	
		outline-style: none;
	}
}

button,
input[type="button"],
input[type="submit"] {
	outline-style: none;
}

body {
	font-family: Helvetica, 'Microsoft JhengHei', Arial, serif-sans;
	background-color: #fff;
	@include breakpoint(mobileonly) {
		padding-top: 50px;
	}
}

.main {
	min-height: 50vh;
}

section {
	padding: 20px 0 40px;
}

article {
	margin: 15px 0;
	@include breakpoint(tablet) {
		margin: 30px 0;
	}
}

p {
	font-size: $default-size;
	line-height: $default-height;
	text-align: justify;
}





/* ==================================================
	Layout
   ================================================== */

/* header */
.logo {
	float: left;
	height: 100px;
	img {
		height: 100%;
	}
	@include breakpoint(phablet) {
		height: 70px;
	}
}

.header-title {
	@include wordbreak(never);
	margin: 0;
	a {
		display: table;
	}
	div {
		display: table-cell; 
		vertical-align: middle;
	}
	span {
		@include breakpoint(phablet) {
			font-size: 30px;	// h2
		}
		@include breakpoint(mobileonly) {
			display: none;
		}
	}
	p {
		margin-bottom: 0;
	}
}

/* navbar */
.main-nav {
	background-color: $bg-color;
	font-size: 0;
	z-index: 998;
	.nav-list {
		margin: 0; // 覆寫 bootstrap
	}
	.nav-item {
		display: inline-block;
		font-size: 18px;
		line-height: 20px;
		color: $font-color;
		a {
			display: block;
			background-color: $bg-color;
			padding: 20px 10px;
			&:hover {
				transition: 0.5s;
				background-color: $primary-color;
			}
		}
	}
	@include breakpoint(tablet) {
		position: fixed;
		overflow: hidden;
		-webkit-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
				transform: translateX(-100%);
		height: 100%;
		width: 100%;
		top: 0;
		.nav-item {
			display: block;
			clear: both;
			&:first-child {
				margin-top: 60px;
			}
		}
		div {
			overflow: auto;
			height: 100%;
		}
	}
	&.open {
		-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
				transform: translateX(0);
		transition: 0.5s;
	}
}

.nav-btn {
	position: fixed;
	top: 0;
	right: 0;
	height: 60px;
	width: 60px;
	z-index: 999;
	background-color: $bg-color;
	border: 0;
	border-bottom-left-radius: 4px;
	@include breakpoint(phablet) {
		width: 50px;
		height: 50px;
	}
	@include breakpoint(mobileonly) {
		width: 100%;
		border-bottom-right-radius: 4px;
	}
	.icon-bar {
		display: block;
		width: 30px;
		height: 4px;
		margin: 0 auto;
		background-color: $font-color;
		margin-bottom: 5px;
		transition: 0.3s;
		-webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
			-ms-transform: rotate(0deg) translate3d(0px, 0px, 0px);
				transform: rotate(0deg) translate3d(0px, 0px, 0px);
		@include breakpoint(phablet) {
			width: 25px;
		}
	}
	&.active {
		.icon-bar:first-child {
			-webkit-transform: rotate(405deg) translate3d(6px, 6px, 0px);
				-ms-transform: rotate(405deg) translate3d(6px, 6px, 0px);
					transform: rotate(405deg) translate3d(6px, 6px, 0px);
		}
		.icon-bar:nth-child(2) {
			width: 40px;
			opacity: 0;
		}
		.icon-bar:last-child {
			-webkit-transform: rotate(-405deg) translate3d(6px, -6px, 0px);
				-ms-transform: rotate(-405deg) translate3d(6px, -6px, 0px);
					transform: rotate(-405deg) translate3d(6px, -6px, 0px);
		}
	}
}

/* footer */
.page-footer .contact-info {
	background-color: #fff;
	padding: 30px 0;
	.logo {
		height: 70px;
	}
	.footer-title {
		margin: 0;
		padding: 15px 0 30px;
		line-height: 40px;
		@include wordbreak(never);
		@include breakpoint(mobileonly) {
			.sub-title {
				font-size: 0;
			}
		}
	}
	ul {
		line-height: 2;
		i {
			font-size: 24px;
			min-width: 32px;
			text-align: center;
		}
		span {
			@include breakpoint(mobileonly) {
				font-size: 0;
			}
		}
	}
	.share-icon {
		font-size: 48px;
		.fa-facebook-official {
			color: #46629e;
		}
		.fa-github {
			color: #000;
		}
		i {
			transition: 0.3s;
			&:hover {
				color: $primary-color;
			}
		}
	}
}
.copy-right {
	background-color: $bg-color;
	color: $font-color;
	border-top: 1px solid lighten($bg-color, 60);
	padding: 20px 0;
}

/* totop button */
.totop {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 500;
	width: 50px;
	height: 50px;
	border: 0;
	font-size: 24px;
	text-align: center;
	background-color: $bg-color;
	color: $font-color;
	opacity: 0.5;
	transition: 0.3s;
	&:hover {
		color: $bg-color;
		background-color: $font-color;
		opacity: 1;
	}
}





/* ==================================================
	Module
   ================================================== */

.section-title {
	color: #455A64;
	position: relative;
	font-weight: bold;
	margin-bottom: 30px;
	&::after {
		position: relative;
		content: '';
		display: block;
		width: 10%;
		left: 45%;
		top: 5px;
		border-bottom: 3px solid $primary-color;
	}
}

.l-content {
	.title {
		font-size: 24px;
		line-height: 1.5;
		font-weight: bold;
		color: $title-color;
		@include text-clamp(24px, 1, 1.5);
		a {
			transition: 0.3s;
			&:hover {
				color: $primary-color;
				border-left: 3px solid $primary-color;
				border-right: 3px  solid $primary-color;
				padding-left: 3px;
				padding-right: 3px;
			}
		}
	}
	p {
		color: $content-color;
		@include text-clamp($default-size, 2, $default-height);
	}		
}

.btn-more {
	display: block;
	font-weight: bold;
	color: $primary-color;
	background-color: #fff;
	border: 5px solid $primary-color;
	margin: 20px auto 0;
	padding: 10px;
	transition: 0.5s;
	&:hover {
		color: #fff;
		background-color: $primary-color;
	}
}





/* ==================================================
	Pages
   ================================================== */

/* activity block */
.activity .l-tag {
	position: relative;
	display: block;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		z-index: 9;
		width: 100%;
		padding-bottom: 100%;
		right: 0;
		bottom: 0;
		background-color: $primary-color;
		-webkit-transform: rotate(45deg) translate(77%, 0%) scale(0.7);
      		-ms-transform: rotate(45deg) translate(77%, 0%) scale(0.7);
          		transform: rotate(45deg) translate(77%, 0%) scale(0.7);
		@include breakpoint(phablet) {
			-webkit-transform: translate(0%, 0%);
				-ms-transform: translate(0%, 0%);
					transform: translate(0%, 0%);
			width: 30%;
		}
	}
	.l-img {
		position: relative;
		height: 0;
		width: 100%;
		padding-top: 40%;
		overflow: hidden;
		.mask {
			position: absolute;
			width: 100%;		
			height: 100%;
			top: 0;
			transition: 0.5s;
			background-image: image_url('mask.png');
		}	
		img {
			position: absolute;
			width: 110%;		
			top: -30%;
			left: -5%;
			transition: 1s;
		}
	}
	.time {
		position: absolute;
		display: block;
		right: 0;
		bottom: 0;
		z-index: 10;
		margin-right: 2.5%;
		margin-bottom: 2.5%;
		.date {
			// line-height: 0.5;
			color: #000;
			@include breakpoint(tablet) {
				font-size: 24px;
			}
			@include breakpoint(phablet) {
				font-size: 32px;
			}
			@include breakpoint(mobileonly) {
				font-size: 22px;
			}
		}
		.year {
			line-height: 0.5;
			color: #fff;
			@include breakpoint(tablet) {
				font-size: 18px;
			}
			@include breakpoint(phablet) {
				font-size: 24px;
			}
			@include breakpoint(mobileonly) {
				font-size: 14px;
			}
		}
	}
	&:hover {
		.mask {
			background-color: rgba(0, 0, 0, 0.2);
		}
		img {
			width: 120%;
			left: -10%;
		}
	}
}

/* news block */
.news .date {
	float: left;
	margin: 5px 10px 0 0;
	text-align: center;
	.month {
		display: block;
		color: #fff;
		background-color: $red;
		margin-bottom: 5px;
	}
	.day {
		display: block;
		color: #000;
		background-color: #fff;
		padding: 5px 10px;
		font-size: 24px;
	}
	&::after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-width: 10px 25px 0;
		border-style: solid;
		border-color: #fff transparent transparent;			
	}
}

/* customize news block */
.news {
	// background-color: $primary-color;
	background-color: rgba(100, 181, 246, 0.7);
	.section-title::after {
		border-color: #fff;
	}
	.l-content {
		.title {
			color: $title-color-with-bg;
			a:hover {
				color: #fff;
				border-color: $red;
			}
		}
		p {
			@include text-clamp($default-size, 5, $default-height);
		}
	}
	.btn-more {
		background-color: transparent;
		color: #fff;
		border-color: #fff;
		&:hover {
			background-color: #fff;
			color: rgba(100, 181, 246, 0.7);			
		}
	}
}

/* about block */
section.about {
	.block {
		border: 5px solid $primary-color;
		border-radius: 10px;
		position: relative;
		padding: 20px 30px;
		height: 300px;
		@include breakpoint(tablet) {
			min-height: 300px;
		}
	}
	
	.img {
		position: relative;
		padding: 0;
	}

	img {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		max-height: 300px;
	}

	.title {
		position: absolute;
		background-color: $primary-color;
		color: #fff;
		bottom: 0;
		left: 0;
		margin: 0;	// 覆寫 H1
		padding: 10px 20px 5px;
		border-top-right-radius: 10px;
	}

	.goal .title {
		bottom: 57px;
	}

	.btn-more {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-left: -30px;
		border: 0;
		font-size: 24px;
		line-height: 32px;
		border-top: 5px solid $primary-color;
	}
}

.about-bg {
	position: relative;
	overflow: hidden;
	height: 400px;
	.about-bg-inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)),
						  image-url('about-bg.jpg');
		background-image: 	   -o-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)),
						  	   image-url('about-bg.jpg');
		background-image: 		  linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)),
						  		  image-url('about-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 45%;		
	}
}

/* service block */
section.service {
	margin-top: -230px;
	article {
		min-height: 330px;
		h1 {
			font-weight: bold;
			color: $title-color;
		}
		.img {
			margin: auto;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			color: #fff;
			font-size: 120px;
			line-height: 200px;
		}
		&:nth-child(1) .img {
			background-color: $orange;
			font-size: 110px;			
		}
		&:nth-child(2) .img {
			background-color: $blue;
		}
		&:nth-child(3) .img {
			background-color: $green;
			font-size: 140px;
		}
		&:nth-child(4) .img {
			background-color: $red;
		}
		p {
			color: $content-color;
		}
	}
}

/* customize carousel theme */
.owl-theme .owl-controls {
	.owl-pagination {
		.active span {
			background-color: $primary-color;
		}
	}
	.owl-buttons {
		div {
			position: absolute;
			top: 40%;
			background-color: transparent;
			color: #869791;
			font-size: 80px;
			opacity: 0.3;
			transition: 0.5s;
			&:hover {
				color: $primary-color;
				opacity: 0.7;
			}
			@media (max-width: 1380px) {
				font-size: 56px;
			}
			@media (max-width: 1285px) and (min-width: 1200px) {
				display: none;
			}
			@media (max-width: 1090px) {
				display: none;
			}
		}
		.owl-prev {
			right: 100%;
		}
		.owl-next {
			left: 100%;
		}
	}
}

.news .owl-theme .owl-controls {
	.owl-pagination {
		.active span {
			background-color: $red;
		}
	}
	.owl-buttons {
		div {
			top: 30%;
			color: #fff;
			&:hover {
				color: $red;
			}
		}
	}
}