/* ==================================================
	Module
   ================================================== */

.section-title {
	color: #455A64;
	position: relative;
	font-weight: bold;
	margin-bottom: 30px;
	&::after {
		position: relative;
		content: '';
		display: block;
		width: 10%;
		left: 45%;
		top: 5px;
		border-bottom: 3px solid $primary-color;
	}
}

.l-content {
	.title {
		font-size: 24px;
		line-height: 1.5;
		font-weight: bold;
		color: $title-color;
		@include text-clamp(24px, 1, 1.5);
		a {
			transition: 0.3s;
			&:hover {
				color: $primary-color;
				border-left: 3px solid $primary-color;
				border-right: 3px  solid $primary-color;
				padding-left: 3px;
				padding-right: 3px;
			}
		}
	}
	p {
		color: $content-color;
		@include text-clamp($default-size, 5, $default-height);
	}
}

.btn-more {
	display: block;
	font-weight: bold;
	color: $primary-color;
	background-color: #fff;
	border: 5px solid $primary-color;
	margin: 20px auto 0;
	padding: 10px;
	transition: 0.5s;
	&:hover {
		color: #fff;
		background-color: $primary-color;
	}
}

/* Breadcrumb */
.breadcrumb-list {
	padding: 10px 0;
	margin: 15px 0;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.breadcrumb-item {
	display: inline-block;
	i {
		font-size: 1.5rem;
	}
	a {
		position: relative;
		padding: 12px 8px 12px 15px;
		color: lighten($content-color, 30);
		border-radius: 4px 0 0 4px;
		&::before,
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
			border-left: 12px solid #fff;
			top: 50%;
			margin-top: -20px;
			left: 100%;
			z-index: 2;
		}
		&::before {
			margin-left: 1px;
			border-left: 12px solid #ddd;
			z-index: 1;
		}
		&:hover {
			color: $content-color;
			@include transition(all, 0.5s);
		}
		&.active {
			color: $content-color;
			font-weight: bold;
			pointer-events: none;
			cursor: not-allowed;
		}
	}
	&:last-child a::before,
	&:last-child a::after {
		border: none;
	}
}
